.popup__input {
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 512px) {
  .popup__input {
    font-size: 12px;
    line-height: 15px;
    margin-left: 20px;
    margin-right: 20px;
  }
}

@media screen and (min-width: 512px) {
  .popup__input {
    padding-bottom: 10px;
    margin-left: 34px;
    margin-right: 34px;
  }
}
