@media screen and (max-width: 640px) {
  .header__logo {
    width: 104px;
    margin-left: 28px;
  }
}

@media screen and (min-width: 641px) {
  .header__logo {
    width: 144px;
    margin-left: 20px;
  }
}

@media screen and (min-width: 960px){
  .header__logo{
    margin-left: 0;
  }
}
