.profile__activity {
  display: block;
  margin: 0;
  font-weight: normal;
}

@media screen and (max-width: 768px) {
  .profile__activity {
    font-size: 14px;
    line-height: 17px;
  }
}

@media screen and (min-width: 768px) {
  .profile__activity {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
  }
}
