.popup__header {
  margin-left: 36px;
  margin-top: 34px;
  margin-bottom: 46px;
  font-style: normal;
  font-weight: 900;
  color: #000;
}

@media screen and (max-width: 512px) {
  .popup__header {
    font-size: 19px;
    line-height: 24px;
  }
}

@media screen and (min-width: 512px) {
  .popup__header {
    font-size: 24px;
    line-height: 29px;
  }
}
