.element__image-button {
  border: none;
  cursor: pointer;
  padding: 0;
  height: 280px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
}

.element__image-button:hover {
  opacity: 0.6;
  transition: 0.2s;
}
