.profile__info {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-items: center;
}

@media screen and (max-width: 959px) {
  .profile__info{
    justify-content: center;
    margin-top: 14px;
  }
}

@media screen and (min-width: 960px) {
  .profile__info{
    margin-left: 8px;
  }
}
